body {
    margin: 20px;
}

.header {
    &__input {
        border-radius: 5px;
        width: 220px;
        height: 40px;
    }
    &__photo {
        background-image: url('./../picture/time.jpg');
        background-size: 100% 100%;
        object-fit: contain;
    }
}

.buttons {
    text-align: center;
    
    &__start {
        height: 50px;
        width: 90px;
        border-radius: 5px;
        margin-right: 30px;
        background-color: rgb(99, 207, 175);
        font-size: 20px;
        
        
    }
    &__stop {
        height: 50px;
        width: 90px;
        border-radius: 5px;
        margin-right: 30px;
        background-color: rgb(168, 94, 110);
        font-size: 20px;
}
    &__reset{
    height: 50px;
    width: 90px;
    border-radius: 5px;
    margin-right: 30px;
    background-color: rgb(161, 167, 79);
    font-size: 20px;
}
}

.pomodoro__time {
font-size: 100px;
text-align: center;

}

.popup {
    display: none;
    &__button {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: flex-end;
    }
    &--visible {
        display: block;
    }
}

